精簡版/Stock Technical Analysis Simplified.json
{
  "name": "Stock Technical Analysis-Simplified",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        0
      ],
      "id": "fd6f08cc-93f1-4a5e-8206-06bdb33ad425",
      "name": "Download Chart"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f7887726-37f8-465d-add5-d20d8f3dc5d4",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "a254fcee-3b29-4c88-9669-3a4bf300b581",
      "name": "Webhook",
      "webhookId": "f7887726-37f8-465d-add5-d20d8f3dc5d4"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.text }}\n\n圖片連結在此:\n\n{{ $('Tradingview Chart').item.json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1160,
        0
      ],
      "id": "aad067ec-1d2c-41d0-80ba-b748f49bfbdd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a1a3ac0-7827-445b-b723-6a7300dbb6f4",
              "name": "ticker",
              "value": "={{ $json.body.ticker}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "0b87f9f2-3363-4ba0-9ae9-52728b76df3b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional technical analyst. Please analyze {{ $('Edit Fields').item.json.ticker }} based on the following technical indicators, focusing on medium to long-term trading opportunities (30-180 days holding period).\n\nAnalysis Date:  {{ $now }}\n\n1. Price Analysis\n   - Current Price: [Price]\n   - Chart Period: Daily\n   - Key candlestick patterns\n   - Recent price action formations\n   - Major support/resistance levels\n\n2. Core Technical Indicators\n\nA. SuperTrend (10,3) Analysis\n   - Current Status: [Uptrend/Downtrend]\n   - Indicator Color: [Green/Red]\n   - Position relative to price\n   - Recent signal changes\n   - Key reversal levels\n\nB. 20-day SMA Analysis\n   - Price position vs SMA\n   - Trend direction and momentum\n   - Recent crossovers\n   - Support/resistance behavior\n   - Price-MA interaction patterns\n\nC. Volume Analysis\n   - Current vs 20-day average volume\n   - Volume trend characteristics\n   - Trend confirmation by volume\n   - Unusual volume patterns\n   - Volume at key price levels\n\n3. Trading Recommendations\n   - Overall Trend: [Bullish/Bearish/Neutral]\n   - Trading Signal: [Enter/Hold/Exit]\n   - Entry Zones: [Price levels]\n   - Stop Loss: [Price levels]\n   - Target Price: [Price levels]\n   - Position Size Suggestion: [%]\n   - Risk/Reward Ratio\n\n4. Risk Assessment\n   - Primary technical risks\n   - Critical price levels\n   - Market warning signs\n   - Pattern failure scenarios\n   - Volume concerns\n\nPlease provide analysis focusing on multi-month holding period with clear entry, management, and exit strategies.\n\n##其他要求\n- 使用通順的繁體中文回覆我\n\n##字詞翻譯轉換\n- 回調 -> 回檔\n- 股利 -> 股息\n- 派息 -> 配息\n- 增長 -> 成長\n- 視頻 -> 影片\n- 音頻 -> 語音\n- 增長 -> 成長\n- 智能 -> 智慧\n- 邊程 -> 寫程式\n- 創建 -> 建立\n- 邊程 -> 程式開發",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ],
      "id": "fb5bbc40-f80b-4403-adb8-bd00284bd4be",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-7-sonnet-20250219",
          "mode": "list",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        960,
        220
      ],
      "id": "febaa942-edf0-47fe-ab34-f3f0bc6ac427",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "bbfyEJjqPPl7ZxFd",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/advanced-chart/storage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "you chart-img api key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"theme\": \"dark\",\n  \"interval\": \"1W\",\n  \"symbol\": \"NASDAQ:{{ $json.ticker }}\",\n  \"override\": {\n    \"showStudyLastValue\": false\n  },\n  \"studies\": [\n    {\n      \"name\": \"Volume\",\n      \"forceOverlay\": true\n    },\n    {\n      \"name\": \"MACD\",\n      \"override\": {\n        \"Signal.linewidth\": 2,\n        \"Signal.color\": \"rgb(255,65,129)\"\n      }\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        0
      ],
      "id": "d346cfa9-1a43-43e6-8212-65efe4d28f1f",
      "name": "Tradingview Chart"
    }
  ],
  "pinData": {},
  "connections": {
    "Download Chart": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Tradingview Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tradingview Chart": {
      "main": [
        [
          {
            "node": "Download Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d520137-0e5d-4274-a7db-30cda2020c2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1ebecbf08b94e56cb5800d7576e7d23fd19de8f753a7d14f117872b859ca2d0"
  },
  "id": "hT6fKlw7hbLnW6sj",
  "tags": []
}