AI個人助理2.0/n8n-Flowise Earnings.json
{
  "name": "Flowise-Earnings",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f59a5c02-1967-4a6a-a98b-a31aa2bf4304",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= {{ $json.query }}\n\n",
        "options": {
          "systemMessage": "=你是一名擅長使用工具來整理資料的資深助理。\n\nToday's date is {{ new Date(new Date().setDate(new Date().getDate() - 0)).toISOString().split('T')[0] }}.\n\nGuidelines:\n- 當用戶沒有提及特定日其實，則假設要求詢問的是今天。\n\n- 當問到特定財務數據、指標題時，例如最新 EPS、Operating Cash Flow，先分析出以下欄位：\n* symbol：找出要分析的公司的股票代號，例如 Nvidia 為 NDVA , Apple 為 AAPL，接著再使用 Financial_Metrics 來搜尋該股票代號的財務數據數據。\n\n- 當問到財報相關問題時，例如 Nvidia 2025 Q3 財報分析，使用 Fetch_Perplexity 來搜尋該股票代號的財報資訊。\n\n- 當問到技術分析時，使用 Fetch_Perplexity 來搜尋該股票代號的分析資訊。\n\n- 當問到選擇權分析、選擇權策略時，使用 Option_Analysis 來搜尋該股票的選擇權策略資訊。\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "8a337f2f-e332-444f-82a4-598621cec15e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        140,
        200
      ],
      "id": "5b12b61e-ef07-44fa-b4bc-c5586b5265c2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2Lh3Ct62UhbXC7jq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=perplexity-earning-{{ $json.query }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        200
      ],
      "id": "2ed3fdac-73fc-469c-81b0-0c8ab8f42f4c",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf5ff659-304e-448e-aab9-ff75817cf192",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        0
      ],
      "id": "3ae9a735-aee4-481a-a6fb-4b22c8095595",
      "name": "Set return value"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to get advise of stock option strategy.",
        "method": "POST",
        "url": "https://flowise.guccidgi.com/api/v1/prediction/4fbcf4a9-e729-4c66-ad1c-30fc4da971d7",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "question",
              "valueProvider": "fieldValue",
              "value": "={{ $json.query }}\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        600,
        200
      ],
      "id": "13100a33-a998-4d66-901e-3e5151943f7a",
      "name": "Option_Analysis",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZGXiFoDyeSJiYhkO",
          "name": "Header Auth-Flowise"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to get stock earnings report result.",
        "method": "POST",
        "url": "https://flowise.guccidgi.com/api/v1/prediction/84200b33-0207-42e5-a484-2566f4752581",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "question",
              "valueProvider": "fieldValue",
              "value": "={{ $json.query }}\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        440,
        200
      ],
      "id": "a7aa8aa3-54f7-41c7-8f9a-d3953c551f41",
      "name": "Fetch_Perplexity",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZGXiFoDyeSJiYhkO",
          "name": "Header Auth-Flowise"
        }
      }
    },
    {
      "parameters": {
        "name": "Financial_Metrics",
        "workflowId": {
          "__rl": true,
          "value": "nh8PLSbL1yTJkpLJ",
          "mode": "list",
          "cachedResultName": "FMP API"
        },
        "fields": {
          "values": [
            {
              "name": "symbol",
              "stringValue": "={{ $fromAI(\"query\",\"Stock ticker\") }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        740,
        200
      ],
      "id": "bad7bbff-aeee-49c8-8f97-e164ee84f312",
      "name": "Financial_Metrics"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "Nvidia Techninal Analysis"
        }
      }
    ]
  },
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Set return value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Option_Analysis": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch_Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Financial_Metrics": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ba81f06-64c2-435e-81c2-c21ff1abd52f",
  "meta": {
    "instanceId": "f1ebecbf08b94e56cb5800d7576e7d23fd19de8f753a7d14f117872b859ca2d0"
  },
  "id": "HIHfpDTe1jJ9WtYd",
  "tags": []
}